<h2>{{name}}</h2>

<ul class="nav nav-tabs">
    <li class="details"><a href="#/person/{{name}}">Details</a></li>
    <li class="interactions"><a href="#/person/{{name}}/interactions">Interactions</a></li>

</ul>


<div class="person-content">

</div>