<h2>{{topic}}</h2>

<ul class="nav nav-tabs">
    <li class="wiki"><a href="#/topic/{{encoded}}">Wiki</a></li>
    <li class="interactions"><a href="#/topic/{{encoded}}/interactions">Interactions</a></li>

</ul>


<div class="topic-content">

</div>