<ul class="breadcrumb">
  <li><a href="#/journal">Journal</a> <span class="divider">/</span></li>
  <li class="active">{{str_date}}</li>
</ul>



<div class="journal-entry">

    <div class="journal-sheet">
        <a class="prev hide">Prev</a>
        <a class="next hide">Next</a>
        <h2>{{str_date}}</h2>
        <div class="entry">
            {{{markup}}}
        </div>
    </div>
    <h3>Services</h3>
    <div class="references">

    </div>

</div>
