

<ul class="nav nav-tabs">
  <!--<li class="tag"><a href="#/quick/tag">Tag</a></li>-->
  <!--<li class="people"><a href="#/quick/people">People</a></li>-->
  <li class="journal"><a href="#/quick/journal">Journal</a></li>
  <li class="lifestream"><a href="#/quick/lifestream">Services</a></li>
</ul>

<div class="quick_form">

</div>