
<h3>Quick entry screens for new information</h3>


<ul class="nav nav-tabs">
  <li class="tag"><a href="#/quick/tag">Tag</a></li>
  <li class="people"><a href="#/quick/people">People</a></li>
  <li class="journal"><a href="#/quick/journal">Journal</a></li>
</ul>

<div class="quick_form">

</div>