<div class="timeline-widget">
	<div class="toolbar">
		<div class="left">
			<button class="btn btn-small zoom_in" title="Zoom In"><i class="icon-resize-small" /> In</button>
			<button class="btn btn-small zoom_out" title="Zoom Out"><i class="icon-resize-full"/> Out</button>
			<button class="btn btn-small to_now" title="Go to Today">Now</button>
		</div>
		<div class="right-tools">
			<div class="left">
				<button class="btn btn-small add_note title="Add Note">Add Note</button>
			</div>
		</div>
		<div class="centre-date">Sat Nov 5, 8:39:32 AM [2012]</div>

	</div>

	<div class="note_entry hide">
		<form class="form">
			<fieldset>
			    <legend>Add Note</legend>

			    <div>
			    	<span class="when"></span>
			    </div>
			    <textarea id="add_note_text"></textarea>

			    <div class="extra-options">
				    more <i class="icon-chevron-down"/>
				</div>

				<div class="hide extra-options-pane">
					<label>Importance</label>
					<select id="add_note_importance">
						<option value="1">Trivial</option>

						<option value="2">Minor</option>

						<option value="50">Major</option>

						<option value="100">Monumental</option>
					</select>
				</div>



				<div class="form-actions">
				  <button type="button" class="btn btn-primary">Save</button>
				  <button type="button" class="btn btn-cancel">Cancel</button>
				</div>
			  </fieldset>
		</form>
	</div>


	<div class="timeline">
	    <div class="canvas"></div>
	    <div class="gutter"></div>
	</div>

</div>