<div class="timeline-widget">
	<div class="toolbar">
		<div class="left">
			<button class="btn btn-small zoom_in" title="Zoom In">+</button>
			<button class="btn btn-small zoom_out" title="Zoom Out">-</button>
			<button class="btn btn-small to_now" title="Go to Today">&#8362;</button>
		</div>
		<div class="centre-date">Sat Nov 5, 8:39:32 AM [2012]</div>
	</div>
	<div class="timeline">
	    <div class="canvas"></div>
	    <div class="gutter"></div>
	</div>
</div>