


<a class="btn tray" href="./tray.jnlp" rel="tooltip" title="Start Tray Uploader"><i class="icon-inbox"></i></a>


<a class="btn" id="fileSelect" rel="tooltip" title="Upload Files"><i class="icon-upload"></i></a>
<input  id="fileUploader" type="file" multiple accept="audio/mp3">