


<input  id="fileUploader" type="file" multiple accept="audio/mp3">


<div class="processing_status hide">
    <h4>Analyzing Files</h4>
    <div class="progress progress-striped active">
      <div class="bar" style="width: 0%;"></div>
    </div>
</div>

<div class="upload_confirm"></div>