
<h2>Upload Stuff</h2>

<h4>Upload From A Liferecorder</h4>
<a href="#/upload/audio">Start</a>

<h4>System Tray Uploader</h4>
(java required)
<a class="btn tray" href="./tray.jnlp" rel="tooltip" title="Start Tray Uploader"><i class="icon-inbox"></i></a>
