
<ul class="breadcrumb">
  <li>Upload</li>
</ul>


<div class="upload-box">
    <img src="img/eckoit_recorder.png" alt="Eckoit Liferecorder"/>
    <a href="#/upload/audio">From A Lifercorder</a>
</div>


<div class="upload-box">
   <i class="icon-inbox"></i>
   <a class="btn tray" href="./tray.jnlp" rel="tooltip">Start System Tray</a>
   (java required)
</div>



